/* main container */
h1 {
  font-family: 'Tapestry', serif;
}
p {
  font-family: 'Antic Didone', serif;
  font-size: large;
}
#projects.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  background-color: rgb(245, 245, 245);
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#oakwood {
  display: flex;
  max-height: auto;
  max-width: 80%;
  object-fit: contain;
  align-self: center;
  justify-self: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
#images {
  margin-left: 2rem;
}
/* background image */
#background {
  position: absolute;
  top: 0px;
  right: 130px;
  z-index: 0;
}
