h1 {
  font-family: 'Tapestry', serif;
}
p {
  font-family: 'Antic Didone', serif;
  font-size: large;
}
h5 {
  font-family: 'Antic Didone', serif;
  font-size: larger;
  font-weight: bold;
}
#bio.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  padding: 5, 5, 5, 5;
}
#biotext {
  width: 33.33%;
}
#summary.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}






#rmwc-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
#rmwc {
  width: 33.33%;
  margin-left: 2rem;
}





#reading-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#reading {
  width: 33.33%;
  margin-right: 2rem;
}






#webster-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
#webster {
  width: 33.33%;
  margin-right: 2rem;
}







#codelabs-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#codelabs {
  width: 33.33%;
  margin-left: 2rem;
}
