<div class="flex-container" id="bio">
  <!-- biography -->
  <div class="flex-container" id="summary">
    <div>
      <h1 style="text-align: center">Biography</h1>
    </div>
    <div id="biotext">
      <p>I am located in Sikeston, in the Bootheel of Missouri.  I live on my family's farm, where I code, garden, and enjoy the outdoors with my Black Russian Terrier, Odin.</p>
    </div>
  </div>
  <br/>


  <!-- river -->
  <div class="flex-container" id="rmwc-container">
    <div id="river1">
      <img src="" alt="river1"/>
    </div>
    <!-- r-mwc -->
    <div id="rmwc">
      <div>
        <h5>Randolph-Macon Woman's College</h5>
      </div>
      <div>
        <p>I spent four years studying fine arts at a competitive liberal arts college in Virginia. Lots of long nights in an archive, painting studio, or dark room taught patience and perserverance. Conversations with museum directors, visiting artists, and gallery owners honed concepts and critical thinking.</p>
      </div>
    </div>
  </div>
  <br/>


  <!-- reading -->
  <div class="flex-container" id="reading-container">
    <div id="reading">
      <div>
        <h5>University of Reading, England</h5>
      </div>
      <div>
        <p> While in college, I was among a small group of students selected to attend a year abroad in the United Kingdom. In addition to experiential learning and travel, courses consisted of independent study, group seminars, individual mentoring, and studio and lecture courses at the University of Reading.</p>
      </div>
    </div>
    <!-- river -->
    <div id="river2">
      <img src="" alt="river2"/>
    </div>
  </div>
  <br/>

  <!-- webster -->
  <div class="flex-container" id="webster-container">
    <div id="webster">
      <div>
        <h5>Webster University</h5>
      </div>
      <div>
        <p>A passion for learning led me to complete a graduate program in Education online through Webster University in St. Louis, Missouri. It was this constant urge to uncover new ideas and develop new skills that led me to web development with Code Labs.</p>
      </div>
    </div>
    <!-- river -->
    <div id="river3">
      <img src="" alt="river3"/>
    </div>
  </div>
  <br/>

  <!-- river -->
  <div class="flex-container" id="codelabs-container">
    <div id="river4">
      <img src="" alt="river4"/>
    </div>
    <!-- code labs -->
    <div id="codelabs">
      <div>
        <h5>Code Labs Full-Stack Web Development Bootcamp</h5>
      </div>
      <div>
        <p>I completed Codefi's Bootcamp in July 2022. Thanks to the expert support of Code Lab's coaches and mentors, I have gained the skills I need to launch into the world of web development and design. Front-end design offers an outlet for my creative side and ever-evolving technology satisfies my love of lifelong learning.</p>
      </div>
    </div>
  </div>
</div>
