/* entire page */
#bio.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-between;
  background-color: rgb(245, 245, 245);
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1 {
  font-family: 'Tapestry', serif;
}
p {
  font-family: 'Antic Didone', serif;
  font-size: large;
}
h5 {
  font-family: 'Antic Didone', serif;
  font-size: larger;
  font-weight: bold;
}
/* background image */
#background {
  position: absolute;
  top: 0px;
  right: 50px;
  z-index: 0;
}

/* bio title and biography summary */
#biotext {
  width: 33.33%;
}
#summary.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* rmwc */
#rmwc-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 20%;
}
#rmwc {
  width: 33.33%;
  margin-left: 6rem;
  margin-right: 2rem;
}
/* yellow brush */
#biobrush1 {
  display: flex;
  max-height: auto;
  max-width: 300px;
  object-fit: contain;
  align-self: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 4rem;
  /* opacity: 0.75 */
}

/* reading */
#reading-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#reading {
  width: 33.33%;
  margin-right: 4rem;
}
/* green brush */
#biobrush2 {
  display: flex;
  max-height: 300px;
  max-width: auto;
  object-fit: contain;
  align-self: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* opacity: 0.75 */
}

/* webster */
#webster-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
}
#webster {
  width: 33.33%;
  margin-right: 4rem;
  margin-left: 2rem;
}
/* blue brush */
#biobrush3 {
  display: flex;
  max-height: auto;
  max-width: 300px;
  object-fit: contain;
  align-self: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* opacity: 0.75 */
}

/* code labs */
#codelabs-container.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#codelabs {
  width: 33.33%;
  margin-left: 6rem;
  margin-right: 4rem;
}
/* rust brush */
#biobrush4 {
  display: flex;
  max-height: auto;
  max-width: 250px;
  object-fit: contain;
  align-self: center;
  padding-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* opacity: 0.75 */
}
