#navbar {
  width: 100%;
  height: 3rem;
  padding: 0, 0, 0, 0;
  margin-bottom: 0px;
  background-color: rgb(245, 245, 245);
}
a {
  font-family: 'Antic Didone', serif;
  font-size: large;
  color: black;
}
a:hover {
  font-family: 'Tapestry', serif;
  color: rgb(133, 14, 14);
}
a:active {
  color: blue;
}
