<!-- icon, name, summary, link to projects, link to email -->
<div class="flex-container" id="home">
  <div class="flex-container" id="icon">
    <div>
      <img style="max-height: 8rem"
            src="/assets/logo.png"
            alt="logo"/>
    </div>
    <div>
      <h1 style="text-align: center">Sara E. Greer</h1>
    </div>
  </div>
  <br/>
  <div class="flex-container" id="bio">
    <div id="text">
      <p>A degree in art drives my love of design. My love of learning keeps me gaining new skills to produce beautiful front-end interfaces that users find easy to navigate. Adding back-end data-handling makes a full-stack package where browsers can work, play, or learn their own new skills.</p>
    </div>
  </div>
  <br/>
  <div class="flex-container" id="projects">
    <div>
      <p>place images here</p>
    </div>
  </div>
</div>
